
/* Color styles */
:root{
    --primary-color:#121212;
    --black-color:#000000;
    --white-color:#ffffff;
    --darkgrey-color:#181818;
    --grey-card-color:#171717;
    --text-grey-color:#b2b2b2;
    --green-color:#1fdf64;
}
/* Utilities */

.btn{
    padding: 6px 12px;
    display: inline-block;
    border: 1px solid var(--white-color);
    border-radius: 20px;
}
.u-text{
    text-transform: uppercase;
}
.card{
    padding-top: 1rem;
}
.text-center{
    text-align: center;
}
.mask-img{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
a:hover,
a:active{
    color: var(--white-color);
}
/* Flex */
.d-flex{
    display: flex;
}
.column{
    display: flex;
    flex-flow: column nowrap;
}
.wrap{
    flex-wrap: wrap;
}
.justify-end{
    justify-content: flex-end;
}
.justify-bet{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
    align-content: center;
}
/*  */

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family:'Montserrat', sans-serif;
}
nav{
    padding: 2rem 0;
}
.wrapped{
    width: 100%;
    height: 100vh;
    color: var(--white-color);
    overflow: hidden;
}
a{
    color: var(--white-color);
    text-decoration: none;
}
ul a{
    color: var(--text-grey-color);
}
li{
    list-style: none;
}
img{
    width: 100%;
}
sub{
    color: var(--text-grey-color);
}

/*  */

/* Main */

main{
    width: 100%;
    height:calc(100vh - 90px) ;
    overflow: hidden;
}
/*  */

/* Main-content */
.main-content{
    width:calc(100% - 300px);
    height: 100%;
    background-color:var(--primary-color);
    overflow-y: auto;
}
#call-to-action{
    position: fixed;
    top: 0;
    right: 0;  
    width: calc(100% - 300px); 
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 2rem;                     
}
.main-section{
    margin-top: 80px;
}
.main-section li{
    padding: 0 1rem;
}

.container{
    padding: 1rem;
}
.row{
    margin-right: -1rem;
}
.col{
    padding: 1rem 1rem 0 0;
    width: calc(100% / 6);
}

/*  */

/* Main-nav */
.main-nav{
    width: 300px;
    min-height: 480px;
    background-color:var(--black-color);
    padding: 1.5rem;
    position: relative;

}
.logo{
    width: 70%;
    padding-bottom: 2rem;
}

.component img,
.bottom-nav img{
    width: 2.5rem;
}
.playlist a i{
    font-size:3.5rem;
    padding: 0.5rem 1rem 0.5rem 0;
}
.component li,
.playlist li{
    line-height: 3rem;
}
.playlist h3{
    padding: 1.5rem 0 0.5rem 0;
}

.playlist ul{
    height: calc(65vh - 190px);
    overflow-y: auto;

}
.user .mask-img{
    background-color: var(--text-grey-color);
    width: 2.5rem;
    height: 2.5rem;
}
.top-nav{
    height: calc(100% - 100px);
}
.bottom-nav{
    width: calc(300px - 3rem);
    color: var(--text-grey-color);
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: var(--black-color);
    display: block;
}

.bottom-nav h5{
    padding: 0 0 1rem 0.5rem;
}
.bottom-nav .user{
    padding: 1rem 0;
}
.bottom-nav h4{
    padding-left: 0.5rem;
    color: var(--white-color);
}
/*  */

/* Play-bar */
#play-bar{
    width: 100%;
    height: 90px;
    background-color: var(--darkgrey-color);
}
.bar{
    height: 100%;
}
.song img{
    width: 3rem;
}
.img-song{
    padding: 0 1rem;
}
.text-song h5{
    line-height: 0.1rem;
}
.like{
    padding-left: 2.5rem;
}
.like i{
    color: var(--text-grey-color);
    padding-right: 1rem;
}
.section-song{
    width: 30%;
}
.commands{
    width: 40%;
}
.volume{
    width: 30%;
}
/*  */


@media screen and (max-width: 1200px){
    .col{
        width: calc(100% / 4);
    }
}

@media screen and (max-width:992px){
    
}

@media screen and (max-width:768x){
    
}

@media screen and (max-width:576x){
    
}